@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --primary-color: #2d2c62;
    --primary-light-color: #5654b3;
    --secondary-color: #fa676d;
    --alice-blue: #e3f0ff;

    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

button{
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
    max-width: 1320px;
    padding: 0 16px;
    margin: 0 auto;
}


#header{
    min-height: 100vh;
    background-color: var(--alice-blue);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}
.navbar-toggler{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 132px;
}
.navbar-brand{
    font-size: 29px;
    font-weight: 600;
}
.navbar-collapse{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.navbar-nav{
    list-style-type: none;
}
.nav-item{
    display: inline-block;
    margin-left: 64px;
}
.nav-link{
    transition: color 0.3s ease-in-out;
}
.nav-link:hover{
    color: var(--secondary-color);
}
.header-btns{
    margin-left: 110px;
}
.header-btns .btn{
    background-color: transparent;
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

/*buttons*/
.btn.btn-login{
    color: var(--primary-color);
}
.btn.btn-login:hover{
    border-color: var(--primary-color);
}
.btn.btn-start{
    background-color: var(--primary-color);
}
.btn.btn-start:hover{
    background-color: var(--secondary-color);
}
.btn.btn-logout{
    background-color: var(--primary-color);
}
.btn.btn-logout:hover{
    background-color: var(--secondary-color);
}

.btn.btn-register{
    background-color: var(--primary-color);
}
.btn.btn-register:hover{
    background-color: var(--secondary-color);
}
.btn.btn-deposit{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn.btn-deposit:hover{
    transform: scale(1.1)
}
.btn.btn-withdraw{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn.btn-withdraw:hover{
    transform: scale(1.1)
}
.btn.btn-sendmoney{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn-sendmoney:hover{
    transform: scale(1.1)
}
.btn.btn-profile{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn-profile:hover{
    transform: scale(1.1)
}
.btn.btn-history{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn-history:hover{
    transform: scale(1.1)
}
.btn.btn-others{
    background-color:transparent;
    border: none;
    width: 150px;
    height: 100px;
    
}
.btn.btn-others:hover{
    transform: scale(1.1)
}

/* banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}
.banner-right img{
    width: 100%;
    margin-left: 50px;

}
.banner-left{
    padding-top: 80px;
    width: 40%;
    color: var(--primary-color);
    
}
.banner-right{
    width: 60%;
    overflow: hidden;
    
}
.banner-title{
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.4;
}
.banner-title span{
    color: var(--secondary-color);
}
.banner-text{
    font-size: 18px;
    margin: 10px 0 30px 0;
    line-height: 1.6;
    max-width: 390px;
    padding-bottom: 3.5rem;
    color: var(--primary-color);
}
.header-form{
    margin-bottom: 120px;
}
.form-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 438px;
}
.form-control{
    height: 50px;
    width: 100%;
    border: none;
    background-color: #fff;
    font-family: inherit;
    padding: 0 16px;
    font-size: 15px;
    outline: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.submit-btn{
    width: 180px;
    height: 50px;
    border: none;
    font-family: inherit;
    background-color: var(--primary-light-color);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
.submit-btn:hover{
    background-color: var(--secondary-color);
}
.social-links{
    list-style-type: none;
}
.social-links li{
    display: inline-block;
}
.social-links li a{
    background-color: var(--primary-color);
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 13px;
    transition: background-color 0.3s ease-in-out;
}
.social-links li a:hover{
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1200px){
    .nav-item{
        margin-left: 30px;
    }
    .header-btns{
        margin-left: 40px;
    }
    .banner-left{
        width: 60%;
    }
    .banner-right{
        width: 40%;
    }
}

@media screen and (max-width: 992px){
    .navbar-toggler{
        display: block;
    }
    .brand-and-toggler{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-collapse{
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--secondary-color);
        height: 100%;
        width: 320px;
        transform: translateX(100%);
        z-index: 999;
    }
    .nav-item{
        display: block;
        margin: 20px 0;
        text-align: center;
    }
    .navbar-nav{
        margin-top: 80px;
    }
    .nav-link{
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
    .nav-link:hover{
        color: var(--primary-color);
    }
    .brand-and-toggler{
        width: 100%;
    }
    .navbar-toggler{
        border: none;
        font-size: 26px;
        display: inline-block;
        padding: 4px 8px;
        background-color: transparent;
        color: var(--primary-color);
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .navbar-toggler:hover{
        background-color: var(--secondary-color);
        color: #fff;
    }

    .header-btns{
        margin: 0;
    }
    .header-btns .btn{
        display: block;
        text-align: center;
        width: 260px;
    }
    .btn.btn-login{
        margin-bottom: 12px;
        background-color: #fff;
    }
    .btn.btn-login:hover{
        border-color: #fff!important;
        transform: translateY(-2px);
    }
    .btn.btn-start:hover{
        background-color: var(--primary-light-color)!important;
        transform: translateY(-2px);
    }
    
}

@media screen and (max-width: 768px){
    .banner-right{
        display: none;
    }
    .banner-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .social-links li a{
        margin: 6px;
    }
}

/* navbar related classes */
.showNavbar{
    transform: translateX(0);
}
.showNavbar-toggler{
    z-index: 1000;
    color: #fff;
}

.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}
.first{
    overflow-x: hidden;
    display: block;
}
.second{
    overflow-x: hidden;
    /* display: none; */
}

@media screen and (max-width: 480px){
    .form-item{
        flex-direction: column;
        width: 100%;
    }
    .form-control, .submit-btn{
        width: 300px;
    }
    .submit-btn{
        margin-top: 12px;
    }
    .navbar-collapse{
        width: 100%;
    }
    .header-form{
        margin-bottom: 30px;
    }
}

/*start of ADmin Dashboard */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    /* min-width: 400px; */
    overflow: hidden;
    padding-top: 0;
}

.styled-table thead tr {
    background-color: var(--primary-color);
    color: #ffffff;

}
.styled-table th {

    padding: 12px 15px;
    text-align: center;
    color: white;
}

.styled-table td {

    padding: 12px 15px;
    text-align: center;
    color: black;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid white;
}

/*modal register*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}

.modal-register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
  
#RegisterLabel {
    padding-top: 3%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}

label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#firstname:focus ~ label[for="firstname"] {
    margin: -76px 70px;
}
#middlename:focus ~ label[for="middlename"] {
    margin: -76px 70px;
}
#lastname:focus ~ label[for="lastname"] {
    margin: -76px 70px;
}
#email:focus ~ label[for="email"] {
    margin: -76px 70px;
}
#username-register:focus ~ label[for="username-register"] {
    margin: -76px 70px;
}
#password-register:focus ~ label[for="password-register"] {
    margin: -76px 70px;
}
#confirm-password-register:focus ~ label[for="confirm-password-register"] {
    margin: -76px 70px;
}
#submit-register {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-register:hover {
    background-color: var(--secondary-color)
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}  
.overlay-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-register {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
  
/* CLASS TO HIDE MODAL */
  .hidden {
    display: none;
}

/*modal login*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#LoginLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#username-login:focus ~ label[for="username-login"] {
    margin: -76px 70px;
}

#password-login:focus ~ label[for="password-login"] {
    margin: -76px 70px;
}
#submit-login {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-login:hover {
    background-color: var(--secondary-color)
}
.overlay-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-login {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*main html*/
#header-second{
    min-height: 100vh;
    background: var(--alice-blue);
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}

.currentUsernameHeader{
    display: none;
}

.grid{
    padding: 10px;
    padding-top: 0;
    display: grid;
    grid-template-areas: 
    "one one two three"
    "one one four five"
    "six six six seven"
    "six six six eight";
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (4, 1fr);
    inline-size: 1300px;
}

.grid >*{
    background-color: var(--alice-blue);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    height: 300px;
}

.one{
    grid-area: one;
    background-image: url("/images/card.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgb(2,0,36);  */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%); */
}

.two{
    grid-area:two;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(335deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%);   */
}
.two .btn-deposit-label{
    color: white;
    font-size: 1rem;
}
.three{
    grid-area: three;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(335deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%);  */
}
.three .btn-withdraw-label{
    color: white;
    font-size: 1rem;
}

.four{
    grid-area:four;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%);  */
}
.four .btn-sendmoney-label{
    color: white;
    font-size: 1rem;
}
.five{
    grid-area:five;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}
.five .btn-profile-label{
    color: white;
    font-size: 1rem;
}
.six{
    grid-area:six;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}
.seven{
    grid-area:seven;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}
.seven .btn-history-label{
    color: white;
    font-size: 1rem;
}
.eight{
    grid-area:eight;
    width: 315px;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,44,98,1) 51%, rgba(45,44,98,1) 87%);
    /* background: rgb(250,103,109); */
    /* background: linear-gradient(166deg, rgba(250,103,109,1) 17%, rgba(86,84,179,1) 52%, rgba(45,44,98,1) 100%); */
}
.eight .btn-others-label{
    color: white;
    font-size: 1rem;
}

.one .balance{
    font-size: 4rem;
    color: white;
    padding: 15px;
} 
.one .account-name{
    padding-top: 90px;
    padding-left: 30px;
    color: white;
    letter-spacing: 2px;
}
.one .footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: white;
}
.one .footer .account-number{
    padding-left: 30px;
    letter-spacing: 3px;
}
.one .footer .visa{
    padding-right: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.six .header{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.six .add-board{
    width: 800px;
    height: 100px;
    margin:auto;
    overflow-x: hidden;
    margin-top: 50px;
}
.six .add-expense-btn{
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background: var(--primary-light-color);
    border-radius: 10px;
    border: 0;
    transition: .5s;
    position: absolute;
    top: 25%;
    left: 44%;
}
.six .add-expense-btn:hover{
    background: var(--secondary-color);
}

.styled-table-expense {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    /* min-width: 400px; */
    overflow: hidden;
    padding-top: 0;
    
}

.styled-table-expense thead tr {
    background-color: var(--primary-light-color);
    color: #ffffff;
}

.styled-table-expense th,
.styled-table-expense td {
    padding: 12px 15px;
    text-align: center;
    color: white;
}

.item-cost-banner{
    display: none;
}
.icon{
    margin: 10px;
}
.styled-table-expense tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-expense tbody tr:nth-of-type(even) {
    background-color: var(--primary-color);
}

.styled-table-expense tbody tr:last-of-type {
    border-bottom: 1px solid white;
}

.seven .header{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*modal deposit*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-deposit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#DepositLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#amount-deposit:focus ~ label[for="amount-deposit"] {
    margin: -76px 70px;
}

#submit-deposit {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-deposit:hover {
    background-color: var(--secondary-color)
}
.overlay-deposit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-deposit {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal withdraw*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-withdraw {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#WithdrawLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#amount-withdraw:focus ~ label[for="amount-withdraw"] {
    margin: -76px 70px;
}

#submit-withdraw {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-withdraw:hover {
    background-color: var(--secondary-color)
}
.overlay-withdraw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-withdraw {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal sendmoney*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-sendmoney {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#SendmoneyLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#recipient-sendmoney:focus ~ label[for="recipient-sendmoney"] {
    margin: -76px 70px;
}
#amount-sendmoney:focus ~ label[for="amount-sendmoney"] {
    margin: -76px 70px;
}

#continue-sendmoney {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#continue-sendmoney:hover {
    background-color: var(--secondary-color)
}
.overlay-sendmoney {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-sendmoney {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal sendmoney confirm*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-sendmoney-confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#SendmoneyConfirmationLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}

#right p{
    text-align: center;
}
#right h3{
    text-align: center;
}
#send-sendmoney {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#send-sendmoney:hover {
    background-color: var(--secondary-color)
}
#cancel-sendmoney {
    border: none;
    background-color: red;
    color: white;
    width: 60%;
}
#cancel-sendmoney:hover {
    background-color: var(--secondary-color)
}
.overlay-sendmoney-confirmation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-sendmoney-confirmation {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal add expense*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-addExpense {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#AddExpenseLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#add-expense-item:focus ~ label[for="add-expense-item"] {
    margin: -76px 70px;
}

#add-expense-cost:focus ~ label[for="add-expense-cost"] {
    margin: -76px 70px;
}
#submit-add-expense {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-add-expense:hover {
    background-color: var(--secondary-color)
}
.overlay-addExpense {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-addExpense {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal edit expense*/
#right {
    margin: auto;
    width: 95%;
    height: 100%;
    border-radius: 10px;
}
.modal-editExpense {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#EditExpenseLabel {
    padding-top: 5%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}
#edit-item-cost{
    display: none;
}
.client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
}
.client-info:focus {
    width: 80%;
}
label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
}
#edit-expense-item:focus ~ label[for="edit-expense-item"] {
    margin: -76px 70px;
}

#edit-expense-cost:focus ~ label[for="edit-expense-cost"] {
    margin: -76px 70px;
}
#submit-edit-expense {
    border: none;
    background-color: var(--primary-light-color);
    color: white;
    width: 60%;
}
#submit-edit-expense:hover {
    background-color: var(--secondary-color)
}
.overlay-editExpense {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-editExpense {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/*modal transaction history*/
#right {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.modal-transaction-history {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#TransactionLabel {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: var(--box-shadow);
}

.overlay-transaction-history {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
  
.close-modal-transaction-history {
    position: absolute;
    top: 0.8rem;
    right: 1.3rem;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/* tabs transaction history*/
.tabContainer{
    width: 100%;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 33%;
    /* height: 100%; */
    display: inline-flex;
    text-align: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 50px;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}
.tabContainer .buttonContainer button:hover{
   
    transform: scale(1.2);
}
.tabContainer .tabPanel{
    /* height: 85%; */
    background-color: white;
    color: #2d2c62;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;

}

.styled-table-history {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    /* overflow: hidden; */
    padding-top: 0;
    
}

.styled-table-history thead tr {
    background-color: var(--primary-color);
    color: #ffffff;
}

.styled-table-history th{
    padding: 12px 15px;
    text-align: center;
    color: white;
    font-weight: normal;
}
.styled-table-history td {
    padding: 12px 15px;
    text-align: center;
    color: #2d2c62;
}
.styled-table-history tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-history tbody tr:nth-of-type(even) {
    background-color: var(--alice-blue);
}

.styled-table-history tbody tr:last-of-type {
    border-bottom: 1px solid white;
}